<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/index.html' }}">
        <img id="logo" src="{{ '/uploads/logo_cantin.png' }}" alt="Logo Charles Cantin"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="{{ '/galerie/index.html' }}">Galerie</a>
        <a class="nav-link" href="{{ '/tarifsPrestations/index.html' }}">Tarifs et prestations</a>
        <a class="nav-link" href="{{ '/contact/index.html' }}">Contact</a>
      </div>
      <div class="d-flex">
        <a class="nav-link" href="https://fr-fr.facebook.com/">
          <img class="social-facebook" src="https://img.icons8.com/stickers/100/000000/facebook.png" title="Facebook"/>
        </a>
        <a class="nav-link" href="https://www.instagram.com/?hl=fr">
          <img class="social-insta" src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"title="Instagram"/>
        </a>
      </div>
    </div>
  </div>
</nav>
<img src="{{ '/uploads/banner_mountains.png' }}" id="banner-nav" alt="Photo de montagne"/>