---
layout: layout.njk
---
<h1 class="title-page">{{site.titleContact}}</h1>
<hr>
<div class="width-form">
    <div class="container-fluid">
        <form method="POST" name="contact" data-netlify="true">
            <div class="row col-lg-6 col-md-10 m-auto">
                <label for="email">Votre email</label>
                <input type="email" name="email">
            </div>
            <div class="row col-lg-6 col-md-10 m-auto">
                <label for="message-object">Objet du message</label>
                <input type="text" name="message-object">
            </div>
            <div class="row col-lg-6 col-md-10 m-auto">
                <label for="message-content">Message</label>
                <textarea name="message-content" rows="10"></textarea>
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary mt-2 m-auto">Envoyer</button>
            </div>
        </form>
    </div>
</div>