---
layout: layout.njk
---
<h1 class="title-page">{{site.titleGallery}}</h1>
<hr>
<main class="container-fluid">

    <ul class="column">
        {# <li class="mx-3" href="#">{{ gallerie.data.title }}</li> #}
        <button class="button filter" data-filter="all">Tout</button>
        <button class="button filter" data-filter="baby">Bébé</button>
        <button class="button filter" data-filter="wedding">Mariage</button>
        <button class="button filter" data-filter="family">Famille</button>
        <button class="button filter" data-filter="pregnancy">Grossesse</button>
        <button class="button filter" data-filter="baptism">Baptême</button>
        <button class="button filter" data-filter="couple">Couple</button>
        <button class="button filter" data-filter="portrait">Portrait</button>
    </ul>
     
    <hr>

    {# Bouclez et créez un balisage pour toutes les images dans /uplaods #}
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 m-auto justify-content-center">
                {% for gallerie in collections.galleries %}
                        <img src={{ gallerie.data.picture }} class="img-gallery" data-item="{{ gallerie.data.filter }}" alt=""/>
                {% endfor %}
            </div>
        </div>
    </section>
    
</main>

