---
layout: layout.njk
---
{% for home in collections.homes %}
    <h1 class="title-home text-center" title="Cliquez dans la forêt pour entrer dans le studio de Charles Cantin">{{home.data.title}}</h1>

    <p class="title-home text-center">{{home.data.subtitle}}</p>
    <a href="{{ '/galerie/index.html' }}">
        <img id="img-home" src={{ home.data.picture }} title="Cliquez pour entrer dans le studio de Charles Cantin" alt="Accueil"/>
    </a>
{% endfor %}
