---
layout: layout.njk
---
<h1 class="title-page">{{site.titlePrice}}</h1>
<hr>
<div class="container-fluid row col-10 col-md-10 m-auto justify-content-center">

    {% for tarif in collections.tarifs %}
        <div class="card m-5">
            <div class="card-body">
                <h5 class="card-title text-center">{{tarif.data.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-center">{{tarif.data.price}}</h6>
                <p class="card-text text-center">{{tarif.data.description}}</p>
                <div class="col text-center">
                    <a href="{{ '/contact/index.html' }}"><button type="button" class="btn btn-primary mt-2">Contactez-moi</button></a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>